/* -------------- xs ( default ) */
body {
  background-color: var(--_dx); 
  animation: bounce 2s infinite;
}
:root {
  --_dx: red;
}
body, .a, .z_c {
  color: red;
}
body.go {
  height: 1rem;
}
.f {
  background-clip: kkk;
}
.b {
  color: orange;
}
.root {
  background-color: green;
}
/* -------------- dark */
@media (prefers-color-scheme: dark)	{
:root {
  --_dx: orange;
}
}