/* -------------- xs ( default ) */
body {
  background: gray; 
  animation: bounce 2s infinite;
}
.xx {
  font-family: arial; 
  transition: all 1s ease-in-out;
}
.n1 {
  --v2: 5rem; 
  top: 0rem; 
  animation-name: k 1s infinite; 
  transition: all 0.25s; 
  animation: pop 1s infinite, okay 1s infinite;
}
body, .xx, .n1, .hello {
  color: red;
}
body.go {
  height: 1rem;
}
.xx > .lol {
  color: indigo; 
  --vv: 123rem;
}
.xx::before {
  color: grey; 
  content: ;
}
.n1.kks {
  bottom: 10rem;
}
.okay {
  color: okay;
}
.lol {
  color: red-orange; 
  padding: 2rem; 
  font-size: 1rem;
}
.lol ~ .kkgolarge {
  background: orange;
}
.hello {
  padding: 1rem;
}
.hello > .nice {
  background: purple;
}
@keyframes bounce {
  0% {
  color: indigo;
} 
  to {
  color: yellow;
}
}
@supports (selector(:has(*))) {
  body {
  grid: 2rem; 
  color: red;
} 
  .lol {
  display: flex; 
  grid: 0rem;
}
}
@supports (display:grid) {
  .lol {
  grid: 2rem;
}
}
/* -------------- sm */
@media (min-width: 480px)	{
.n1 {
  animation-name: bouncer 1s infinite;
}
}
/* -------------- lg */
@media (min-width: 1024px)	{
@supports (selector(:has(*))) {
  body {
  grid: 3rem;
}
}
@supports (display:grid) {
  .lol {
  grid: 3rem;
}
}
}
/* -------------- xl */
@media (min-width: 1280px)	{
.lol {
  font-size: 3rem;
}
}
/* -------------- dark */
@media (prefers-color-scheme: dark)	{
.lol {
  font-size: 2rem;
}
}