/* -------------- xs ( default ) */
body {
  background-color: var(--_dx); 
  animation: bounce 2s infinite; 
  color: red;
}
:root {
  --_dx: red;
}
body.go {
  height: 1rem;
}
/* -------------- dark */
@media (prefers-color-scheme: dark)	{
:root {
  --_dx: orange;
}
}